examples/openApi-petstore.json
[{"id":"a1364c8f.eda5e","type":"tab","label":"openAPI red","disabled":false,"info":""},{"id":"1771b87a.617668","type":"inject","z":"a1364c8f.eda5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["648f96cb.76fcd8"]]},{"id":"1693e87a.3ed028","type":"debug","z":"a1364c8f.eda5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":180,"wires":[]},{"id":"648f96cb.76fcd8","type":"openApi-red","z":"a1364c8f.eda5e","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"addPet","operationName":"Add a new pet to the store","parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"name\":\"Best Dog Benny\",\"photoUrls\":[]}","isActive":true,"inputType":"json"}},"x":590,"y":180,"wires":[["1693e87a.3ed028"]]},{"id":"4a61f679.3a6138","type":"inject","z":"a1364c8f.eda5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["5288696d.4a81e8"]]},{"id":"aea76877.a08988","type":"debug","z":"a1364c8f.eda5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":260,"wires":[]},{"id":"5288696d.4a81e8","type":"openApi-red","z":"a1364c8f.eda5e","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"findPetsByStatus","operationName":"Finds Pets by status","parameters":{"query status":{"name":"status","in":"query","required":true,"value":"available","isActive":true,"inputType":{}}},"x":580,"y":260,"wires":[["aea76877.a08988"]]}]