examples/openApi-petstore.json
[{"id":"ef01804f.0a348","type":"tab","label":"openAPI red","disabled":false,"info":""},{"id":"a002a910.e30c68","type":"inject","z":"ef01804f.0a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["49eb7cd0.c19034"]]},{"id":"1fc8baa2.779fe5","type":"debug","z":"ef01804f.0a348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":100,"wires":[]},{"id":"a951bc2d.8e8f3","type":"inject","z":"ef01804f.0a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["ff850511.7f2778"]]},{"id":"de6bd4d2.06a698","type":"debug","z":"ef01804f.0a348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":140,"wires":[]},{"id":"ff850511.7f2778","type":"openApi-red","z":"ef01804f.0a348","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"addPet","operationData":{"name":"Add a new pet to the store"},"errorHandling":"","parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"name\":\"Benny the best dog\",\"photoUrls\":[]}","isActive":true,"inputType":"json"}},"requestBody":"","outputs":1,"x":380,"y":140,"wires":[["de6bd4d2.06a698"]]},{"id":"49eb7cd0.c19034","type":"openApi-red","z":"ef01804f.0a348","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"findPetsByStatus","operationData":{"name":"Finds Pets by status"},"parameters":{"query status":{"name":"status","in":"query","required":true,"value":"available","isActive":true,"inputType":{}}},"outputs":1,"x":360,"y":100,"wires":[["1fc8baa2.779fe5"]]},{"id":"42b317f6.fe11f8","type":"inject","z":"ef01804f.0a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["c0ed6100.4645f"]]},{"id":"3ae5154.b24cfea","type":"switch","z":"ef01804f.0a348","name":"check response","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":380,"wires":[["1d101bed.d691e4"],["e09993fc.6f12a"]]},{"id":"1d101bed.d691e4","type":"debug","z":"ef01804f.0a348","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"e09993fc.6f12a","type":"debug","z":"ef01804f.0a348","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"b4c6b892.e9d638","type":"comment","z":"ef01804f.0a348","name":"Standard","info":"","x":140,"y":340,"wires":[]},{"id":"d58b9503.d39d38","type":"inject","z":"ef01804f.0a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["84d3b0c1.aa4eb"]]},{"id":"1dece058.1ac9c","type":"debug","z":"ef01804f.0a348","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":460,"wires":[]},{"id":"a033d2bc.a8bdf","type":"debug","z":"ef01804f.0a348","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":500,"wires":[]},{"id":"c0dc7efa.45492","type":"comment","z":"ef01804f.0a348","name":"Other output","info":"","x":150,"y":440,"wires":[]},{"id":"a3523987.d7f8c8","type":"inject","z":"ef01804f.0a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["15c332a4.e5bf7d"]]},{"id":"6fffed09.200634","type":"debug","z":"ef01804f.0a348","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":600,"wires":[]},{"id":"6b458499.546b1c","type":"comment","z":"ef01804f.0a348","name":"Throw exception","info":"","x":160,"y":560,"wires":[]},{"id":"ffde35f6.c8de08","type":"catch","z":"ef01804f.0a348","name":"","scope":null,"uncaught":false,"x":340,"y":640,"wires":[["f2fd3ccc.da926"]]},{"id":"f2fd3ccc.da926","type":"debug","z":"ef01804f.0a348","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":640,"wires":[]},{"id":"c0ed6100.4645f","type":"openApi-red","z":"ef01804f.0a348","name":"set an error","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"updatePet","operationData":{"name":"Update an existing pet"},"errorHandling":"other output","parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"id\":\"String instead of integer\"}","isActive":true,"inputType":"json"}},"requestBody":"","outputs":2,"x":330,"y":380,"wires":[["3ae5154.b24cfea"],["3ae5154.b24cfea"]]},{"id":"84d3b0c1.aa4eb","type":"openApi-red","z":"ef01804f.0a348","name":"set an error","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"updatePet","operationData":{"name":"Update an existing pet"},"errorHandling":"other output","parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"id\":\"String instead of integer\"}","isActive":true,"inputType":"json"}},"requestBody":"","outputs":2,"x":330,"y":480,"wires":[["1dece058.1ac9c"],["a033d2bc.a8bdf"]]},{"id":"15c332a4.e5bf7d","type":"openApi-red","z":"ef01804f.0a348","name":"set an error","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"updatePet","operationData":{"name":"Update an existing pet"},"errorHandling":"throw exception","parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"id\":\"String instead of integer\"}","isActive":true,"inputType":"json"}},"requestBody":"","outputs":1,"x":330,"y":600,"wires":[["6fffed09.200634"]]},{"id":"5391f22f.0b939c","type":"comment","z":"ef01804f.0a348","name":"Error handling","info":"","x":150,"y":300,"wires":[]},{"id":"b56afa0f.bb58a8","type":"comment","z":"ef01804f.0a348","name":"pet shop example","info":"","x":160,"y":60,"wires":[]}]