examples/openApi-petstore.json
[{"id":"4a329df9.33bb94","type":"tab","label":"openAPI red","disabled":false,"info":""},{"id":"62cd5128.84f85","type":"inject","z":"4a329df9.33bb94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["ec87b3bb.17b4a"]]},{"id":"99cd8962.cad628","type":"debug","z":"4a329df9.33bb94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":180,"wires":[]},{"id":"a2ef10ac.2d0be","type":"inject","z":"4a329df9.33bb94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["ff0bfdc9.cc36f"]]},{"id":"7be6e370.1d2ebc","type":"debug","z":"4a329df9.33bb94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":260,"wires":[]},{"id":"ff0bfdc9.cc36f","type":"openApi-red","z":"4a329df9.33bb94","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"addPet","operationData":{"name":"Add a new pet to the store"},"parameters":{"body body":{"name":"body","in":"body","required":true,"value":"{\"name\":\"Benny the best dog\",\"photoUrls\":[]}","isActive":true,"inputType":"json"}},"x":490,"y":260,"wires":[["7be6e370.1d2ebc"]]},{"id":"ec87b3bb.17b4a","type":"openApi-red","z":"4a329df9.33bb94","name":"","openApiUrl":"https://petstore.swagger.io/v2/swagger.json","api":"pet","operation":"findPetsByStatus","operationData":{"name":"Finds Pets by status"},"parameters":{"query status":{"name":"status","in":"query","required":true,"value":"available","isActive":true,"inputType":{}}},"x":480,"y":180,"wires":[["99cd8962.cad628"]]}]